*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.area{
    width: 80%;
    margin: 20px auto;
}
.area .header{
    width: 100%;
    height: 150px;
    background-color: orange;
    display: flex;
    align-items: center;
    position: relative;
}
/*animacao da imagem*/
.header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 125px;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition: .5s;
    user-select: none;
}
.header img:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 20px rgba(0,0,0,.5);
}
.header-text{
    color: white;
    width: 60%;
    margin-left: auto;
}
.header-text h1{
    font-size: 80px;
    font-weight: normal;
}
.header-text p{
    font-size: 20px;
    color: black;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.left-area{
    width: 30%;
    background-color: rgb(235, 235, 235);
    text-align: center;
    padding-bottom: 20px;

}
.left-area .contact{
    margin-top: 130px;
    padding: 0 30px;
}
.contact h4{
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
}
.contact h5{
    font-size: 18px;
    margin: 10px 0;
}
.contact p{
    font-size: 17px;
}

/*customizacao barras de competencias*/
.skills{
    margin-top: 20px;
}
.skills h1{ 
    font-size: 30px;
    font-weight: normal;
}


.bars{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* fr significa fração*/
    grid-gap: 20px 10px;
    padding: 0 20px;
}
.bars .bar p{
    font-size: 15px;
    font-weight: bold;
}


.bar span{
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(192, 192, 192);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar span::before{
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    background-color: black;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10px;
}


.follow h1{
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
}
.follow h4{
    font-size: 18px;
    margin: 10px 0;
}
.follow p{
    font-size: 15px;
    color: rgb(0, 0, 0);

}


.right-area{
    width: 70%;
    padding: 50px;
}
.right-area h1{
    font-size: 35px;
    font-weight: normal;
}
.right-area h1 span{
    margin-right: 30px;
    font-size: 50px;
    color: lightgray;
}
.right-area p{
    padding-left: 70px;
    text-align: justify;
    word-break: break-all;
    font-size: 17px;
    color: gray;
    margin-top: 10px;
}


.work-group{
    margin: 20px 0;
}
.work .work-group{
    position: relative;
}
.work-group h3{
    font-size: 22px;
    font-weight: normal;
    padding-left: 70px;
}
.work-group h4{
    font-size: 20px;
    padding-left: 70px;
    font-weight: normal;
    color: rgb(61, 58, 58);
}
.work-group span{
    position: absolute;
    top: 10px;
    right: 0;
    color: black;
    font-weight: bold;
    font-size: 12px;
}
button{
    font-size: 25px;
    padding: 10px 20px;
    margin: 50px 0 50px 140px;
    background-color: blue;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 30px black;
    cursor: pointer;
    transition: .5s;
}
buton:hover{
    background-color: black;
    box-shadow: 0 0 30px black;
}
